.memes-section > hr{
    width: 50%;
    display: flex;
    justify-self: center;
    align-self: center;
    border: solid black 1px;
}

.memes-section, .blogs-section{
    background-color: #FAA533;
}

.memes-h1, .blogs-h1{
    font-family: "Roboto", sans-serif;
    text-align: center;
    color: white;
}

.card-img-top{
    height: 550px;
}

.aulon-logo{
    border-radius: 60%;
}